---
import Layout from "../components/Layout.astro";
---
<Layout title="Resources">
<h1>Resources</h1>
<div class="card">
<ul>
<li>Recruiting guides and case prep</li>
<li>Python & R starters for finance</li>
<li>Links: IBKR API, Alpaca, SEC EDGAR, FRED</li>
</ul>
</div>
</Layout>
